<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="minusService" class="com.pasichnyk.xmlConfiguration.MinusService"/>
    <bean id="plusService" class="com.pasichnyk.xmlConfiguration.PlusService"/>

    <bean id="calculator" class="com.pasichnyk.xmlConfiguration.Calculator">
        <constructor-arg index="0" ref="minusService"/>
        <constructor-arg index="1" ref="plusService"/>
    </bean>


</beans>